
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ffffff86;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.hero {
    background-image: linear-gradient(to bottom, #007bff, #0069d9);
    padding: 5rem 2rem;
    text-align: center;
    color: #fff;
}

.cta {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.calculators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.calculator-container {
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #ddd;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculate-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

#returns-result, #compounding-result {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    text-align: center;
    clear: both;
}
